always-auth=true
email=avi.abraham@transmitsecurity.com
registry=https://transmitsecurity.jfrog.io/artifactory/api/npm/ts-npm-repo/
@transmit-security:registry=https://transmitsecurity.jfrog.io/artifactory/api/npm/ts-npm-repo/
//transmitsecurity.jfrog.io/artifactory/api/npm/ts-npm-repo/:_password="QUtDcDhvaDlvaEZmV0E2N255ZnJHblpTQmJHc1R6dDFtdkRqWms1alo3WVkyaWNDRUtOMjJrY2d2UTdiTlZ6VTdXUGZkY1NTZg=="
//transmitsecurity.jfrog.io/artifactory/api/npm/ts-npm-repo/:username=avi.abraham@transmitsecurity.com
//transmitsecurity.jfrog.io/artifactory/api/npm/ts-npm-repo/:always-auth=true
save-exact=true
//transmitsecurity.jfrog.io/artifactory/api/npm/ts-npm-repo/:_auth="YXZpLmFicmFoYW1AdHJhbnNtaXRzZWN1cml0eS5jb206QUtDcDhvaDlvaEZmV0E2N255ZnJHblpTQmJHc1R6dDFtdkRqWms1alo3WVkyaWNDRUtOMjJrY2d2UTdiTlZ6VTdXUGZkY1NTZg=="
