@import 'variables';

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    padding: 0 $padding;

    #clientIdDiv {
      color: #c1c1c1;
    }
  }

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    background-color: lightgrey;

    .content {
      width: $content-width;
      padding: $padding;
      background-color: white;
      border-radius: $border-radius;
    }
  }
}

.column {
  display: flex;
  flex-direction: column;

  &.gap {
    gap: $gap;
  }

  &.gap-small {
    gap: $gap-small;
  }

  &.centered {
    align-items: center;
  }

  &.long-text {
    overflow-wrap: anywhere;
  }
}

input {
  padding: 17px 12px;
  border: $border;
  border-radius: $border-radius;

  &:focus-visible {
    outline: $primary auto 1px;
  }
}

button {
  width: fit-content;
  padding: 18px 12px;
  border: none;
  border-radius: $border-radius;
  background-color: $primary;
  color: $contrast;
  cursor: pointer;

  &.full-width {
    width: 100%;
  }

  &.disabled,
  &:disabled {
    background-color: #cccccc;
    color: #666666;
    pointer-events: none;
  }
}

a {
  color: $primary;
  font-weight: bold;
  text-decoration: none;
}

.title {
  font-size: 32px;
  font-weight: bold;
}

.footer {
  font-size: 14px;
}

.separator {
  border-bottom: $border;
  border-color: $border-color;
  margin: $gap 0;
}

img {
  &.icon {
    width: $icon-width;
    height: $icon-Height;
  }
}

.divider {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: gray;
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.divider-text {
  background: white;
  padding: 0 35px;
}

#status {
  color: red;
  min-height: 20px;
}
