// Colors
$primary: #2383fe;
$contrast: #ffffff;
$border-color: #cccccc;
$background-color: #f2f2f2;
$metadata-color: #c1c1c1;

// Spacing
$gap: 20px;
$gap-small: 8px;
$padding: 48px;

$border-radius: 4px;
$border: 1px solid $border-color;

// Component dimensions
$header-height: 80px;
$content-width: 486px;
$icon-width: 52px;
$icon-Height: 52px;
