body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

button {
  cursor: pointer;
}

#status {
  color: rgb(142, 3, 3);
}

@media only screen and (max-width: 600px) {
  body {
    padding: 30px;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow: clip;
    text-overflow: ellipsis;
  }

  button {
    width: 100%;
    height: 50px;
    font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  input {
    width: 100%;
    height: 50px;
  }

  .divider {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: gray;
    width: 100%;
    text-align: center;
    line-height: .1em;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .divider-text {
    background: white;
    padding: 0 35px;
  }
}
